name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Use the built-in GITHUB_TOKEN to avoid needing a manual secret
          # Ensure you have enabled "Read and write permissions" in Repository Settings -> Actions -> General
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Options
          user: rkalbuqp
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Sao_Paulo
          
          # Isometric Calendar (Contributions Graph)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          # Languages
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: bytes-size, percentage
          
          # Achievements
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C
